
__pycache__/
*.py[cod]
*.egg-info/
*.log
venv/
.venv/
env/
ENV/
.pytest_cache/
.vscode/
*.zip
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
.DS_Store
Thumbs.db
.idea/
*.sublime-workspace
*.sublime-project
